<div *ngIf="isLoadingResults" class="spinner-grow" role="status"></div>
<div class="titulo_seccion">
  <h3>Confirmar mi Pedido</h3>
</div>
<div >
  <div >
    <div class="shipper">
      <h4 class="card-title" style="text-align: right; margin-right: 15px;">Ingresar direccion</h4>
      <div [formGroup]="formOrder">
        <div class="card" >
          <div class="card-body">
              <input type="radio" id="casa" name="casa" value="Retiro en local" (change)="onItemChange($event.target.value)" ><br>
              <label for="casa"> <p>Retitiro en local</p> </label><br><br>
              <input type="radio" id="casa" name="casa" [value]="user.direction" (change)="onItemChange($event.target.value)" ><br>
              <label for="casa"><p>{{user.direction}}</p></label><br><br>
              <input type="radio" id="casa" name="casa" [value]='null' 
              (change)="onItemChange($event.target.value)"><br>
              <label for="casa"><p>Nueva Direccion</p></label><br>
              <div class=" form-group mb-3">
                <input type="text" formControlName="direction" (change)="onItemChange($event.target.value)" 
                class="form-control"  id="direction" [ngClass]="{ 'is-invalid':f.direction.touched && f.direction.errors }">
                <div *ngIf="f.direction.touched && f.direction.errors" class="invalid-feedback">
                  <div *ngIf="f.direction.errors.required">La direccion no quedar vacio</div>
                  <div *ngIf="f.direction.errors.minLength">Debe ingresar 10 caracteres minimo</div>
                  <div *ngIf="f.direction.errors.maxlength">Solo puede ingresar 40 caracteres</div>
                </div>
              </div>
          </div>
        </div><br><br>
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title">Observaciones </h5>
            <h6 class="card-subtitle mb-2 text-muted">*optativo</h6>
            <textarea name="observation" id="observation" cols="70" rows="10"
            class="form-control"  [value]='null' 
            formControlName="observation"></textarea>
            <div *ngIf="f.observation.touched && f.observation.errors" class="invalid-feedback">
              <div *ngIf="f.observation.errors.maxlength">Solo puede ingresar 90 caracteres</div>
            </div>
          </div>
        </div><br><br>
      </div>
      <h4 class="card-title" style="text-align: right; margin-right: 15px;">Resumen</h4>
      <div *ngFor="let p of _service.getOrderInProgress()"  class="card"  >
        <div class="card-body" >
          <h5 class="card-title">Direccion de entrega: {{direction_delivery}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Fecha de entrega: <span style="color:blue; font-weight: 600">{{p.menu.date.slice(0,10)}}</span> </h6>
          <p style="text-align: left;">Tipo: {{p.menu.Meals.type}}</p>
          <p style="text-align: left;">Titulo: {{p.menu.Meals.title}}</p>
          <p style="text-align: left;">Descripcion: {{p.menu.Meals.description}}</p>
          <p style="font-weight: 600; text-align: left;">CANTIDAD: {{p.count}}</p>         
        </div>
      </div>
      <br>
      <h5>Total {{ _service.getOrderInProgress().length}} PIEZAS</h5><br>
      <div style="display:flex; flex-direction:row; float: right;">
        <button class="btn btn-primary boton" style="margin-right:15px" *ngIf="_service.total!=0" (click)="finishOrder()">FINALIZAR</button><br><br>
        <a class="btn btn-outline-primary boton" *ngIf="_service.total!=0" (click)="back()">Volver</a><br>
      </div><br><br><br>
      
    </div>
  </div>
</div>





