<div *ngIf="isLoadingResults" class="spinner-grow" role="status"></div>
<div class="titulo_seccion">
  <h3>Su Pedido</h3>
  <h4>Confirme su pedido</h4>
</div>
<div class="base_info">
  <div class="conteiner_pedido" >
    <div class="shipper">
      <h4 class="card-title">Seleccione la Direccion</h4>
      <div [formGroup]="formOrder" style="margin: auto;" >
        <div class="card" style="width: 70%" >
          <div class="card-body">
            <div>
              <input type="radio" id="casa" name="casa" value="Retiro en local" checked (change)="onItemChange($event.target.value)" ><br>
              <label for="casa"> <p>Retitiro en local</p> </label><br><br>
              <input type="radio" id="casa" name="casa" [value]="user.direction" checked (change)="onItemChange($event.target.value)" ><br>
              <label for="casa"><p>{{user.direction}}</p></label><br><br>
              <input type="radio" id="casa" name="casa" [value]='null'  (change)="onItemChange($event.target.value)"><br>
              <label for="casa"><p>Nueva Direccion</p></label><br>
              <div class=" form-group mb-3">
                <input type="text" formControlName="direction" (change)="onItemChange($event.target.value)" 
                class="form-control" id="direction" [ngClass]="{ 'is-invalid':f.direction.touched && f.direction.errors }">
                <div *ngIf="f.direction.touched && f.direction.errors" class="invalid-feedback">
                  <div *ngIf="f.direction.errors.required">La direccion no quedar vacio</div>
                  <div *ngIf="f.direction.errors.minLength">Debe ingresar 10 caracteres minimo</div>
                  <div *ngIf="f.direction.errors.maxlength">Solo puede ingresar 40 caracteres</div>
                </div>
              </div>
            </div>
          </div>
        </div><br><br>
        <div class="card" style="width: 70%">
          <div class="card-body">
            <h5 class="card-title">Observaciones </h5>
            <h6 class="card-subtitle mb-2 text-muted">*optativo</h6>
            <textarea name="observation" id="observation" cols="30" rows="10"
            class="form-control" id="observation"></textarea>
          </div>
        </div><br><br>
      </div>
      <div  *ngIf="direction_delivery" class="card" style="width: 70%">
        <div class="card-body" *ngFor="let p of _service.getOrderInProgress()" >
          <h5 class="card-title">Direccion de entrega: <br>{{direction_delivery}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Fecha de entrega: {{p.menu.date.slice(0,10)}}</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <p class="card-link">Tipo: {{p.menu.Meals.type}}</p>
          <p class="card-link">Titulo: {{p.menu.Meals.title}}</p>
          <p class="card-link" >{{p.menu.Meals.description}}</p>
          <p style="font-weight: 600; text-align: left;">CANTIDAD: {{p.count}}</p>
          <h5>Total {{ _service.getOrderInProgress().length}} PIEZAS</h5><br>
        </div>
        <button class="btn btn-primary boton" *ngIf="_service.total!=0" (click)="finishOrder()">CONTINUAR</button><br><br>
        <a class="btn btn-outline-primary boton" *ngIf="_service.total!=0" (click)="back()">Volver</a><br>
      </div>
    </div>
  </div>
</div>





