@import '../../styles/general_styles.scss';

 .conteiner_pedido{
  display: flex;
  flex-direction: row;
	width: 99%;
  height: auto;
  .shipper{
    div.card{
        width: 60%;
        margin: auto;
    }
    background-color: white;
    border-radius: 5px;
    margin: 0% 1% 0% 0%;
    padding: 4%;
    width: 99%;
    input{
      margin: auto;
    }
    textarea{
      margin: auto;

    }
    h4{
      margin-bottom: 3%;
    }
    .col-sm{
      display: block;text-align: center;
    }
    .icon{
      display: block;text-align: center;
      .imagen-order1{
        width: 15%;
        margin:auto;
      }
    }
  }
  

}

 @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 700px) { 

    div.card {
      width: 100% !important;
    }
    textarea{
      width: 90% !important;
      margin: auto;

    }
    .conteiner_pedido{
      flex-direction: column !important;
      .titulo_seccion2{
        display: none;
      }
      .shipper{
        width: 100vw;
      }
  }
}

@media only screen  
and (min-width : 768)  
and (max-width : 1200px) { 
  .shipper{
    margin-bottom:60px;
      width: 99%;
  }
}