/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

$font:  'Quicksand', sans-serif;
$font_btn:12px;
$grey_gou:#eff0f1;
$yellow_gou:#FFDA80;
$verde_gou:#83E8B5;
$verde_gou_dark:#4a8f6c;
$carmin_ou:#FF4F44;
$ligthBlueGreen:#78E5D8;
$blue:#0d6efd;

p{
    text-align: left;
}
h3{
    font-size: 1.8rem;
    text-align: left;
}
h4{
    font-size: 1.5rem;
    color: gray;
    text-align: left;
}
h5{
    font-size: 1.2rem;
}

.boton{
    border-radius: 20px;
    margin: auto;
    width: 200px;
    display: block;
    text-align: center;
}

.padding{
    padding: 1%;
}

.tarjeta_seccion{
    background-color: white;
    border-radius: 5px;
    padding: 3%;
    width: 95% !important;
    margin: auto;
    h4{
        text-align: center;
        color: black;
    }
    h5{
        text-align: center;
        color: gray;
    }
}

.titulo_seccion{
    background-color: white;
    padding: 2% 2% 1% 2%;
    border-radius: 5px;
    margin: 0% 2% 3% 0%;
    h3{
        color: black;
        font-weight: 600;
    }
    
}

.titulo_seccion2{
    background-color: white;
    padding: 2% 2% 1% 2%;
    border-radius: 5px;
    margin: 0% 2% 0% 0%;
    width: 25%;
    height: 250px;
    h5{
        font-weight: 600;
        text-align: center;
    }
}

.nav_general_lateral{
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10x;
    position: fixed;
    bottom: 0px;
    button{
        background-color: white;
        border: none;
        width: 100%;
        padding: 20px;     
        cursor: pointer;
        img{
            width: 30px;
            margin-left: 10px;
        }
        h5{
            margin: auto;
            color: rgb(26, 25, 25);
        }
    }
    button:focus{
        h5{
          text-decoration: underline;
        }
    }
}

.date-menu{
    display:flex;
    flex-direction:row;
    margin: auto;
    app-menuList{
        width: 100%;
    }
}


@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 768px) { 
    p{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    h4{
        text-align: center;
    }
    .nav_general_lateral{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0.5% 0% 0.5% 0%;
        padding: 0.5% 5% 0.5% 5%;
        bottom: 0%;
        button{
            img{
                width: 30px;
            }
            h5{
                display: none;
            }
        }
       
    }
    .titulo_seccion{
        width: 100%;
        height: auto !important;
    }
    .titulo_seccion2{
        display: none;
    }
    .date-menu{
        display:flex;
        flex-direction:column;
        margin: auto;
        app-menuList{
            width: 100%;
        }
    }

  }


  // Para iPad
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {}

