/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
$font:  'Quicksand', sans-serif;
$font_btn:12px;
$grey_gou:gainsboro;
$yellow_gou:#FFDA80;
$verde_gou:#83E8B5;
$carmin_ou:#FF4F44;
.padding{
    padding: 2%;
}
