<app-editUser *ngIf="editUser" (close)="onClose($event)"></app-editUser>
<div *ngIf="!editUser" class="tarjeta_seccion">
    <div *ngIf="user!=null" >
        <ul style="list-style: none;padding-left: 0%;">
            <li><h5>{{user.name.toUpperCase()}} {{user.lastName.toUpperCase()}}</h5></li>
            <li>User: {{user.email}}</li>    
            <li>Password: {{user.pass}}</li>    
            <li>Telefono: {{user.phone}}</li>    
            <li>Direccion: {{user.direction}}</li><br>   
            <li>Empresa: {{user.companyName}}</li><br> 
            <li><button class="btn btn-outline-primary" (click)="onClose($event)"><i class="bi bi-pencil-fill"></i></button></li>                   
        </ul>
    </div>
</div>