@import '../../styles/general_styles.scss';

.base_info{
  display: flex;
  flex-direction: row;
  app-orders-shared {
    width: 100%;
  }
}
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 700px) { 
    .base_info{
      display: flex;
      flex-direction: column !important;
      app-orders-shared {
        width: 100%;
      }
    }
  }