@import '../../styles/general_styles.scss';

.table{
  li{
    list-style: none;
  }

}
.toast-custom {
  bottom: 0px;  
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 568px) { 
    .menu{
      display: flex;
      flex-direction: column;
      justify-content: none;
      .tarjeta_seccion{
        width: 100% !important;
        margin: 0%;
        .titulo_fecha_menu{
          h4{
            text-align: center;
          }
          h5{
            text-align: center;

          }
        }
      }
    }
  }

  // Para iPad
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  { /* Aquí van los estilos */}