<div class="tarjeta_seccion">
  <div *ngIf="menus!=null else withoutMenus">
    <h5>Para esta fecha tenemos los siguientes platos</h5>
  </div>
  <ng-template #withoutMenus>
    <h4>Seleccione una fecha</h4>
    <h5>Para ver el menu del dia</h5>
    <center>
      <img style="width: 50%;margin-top: 5%;" src="assets/fondo2.jpg" alt="">
    </center>
  </ng-template> 
  <br>
  <div *ngFor="let m of menus" >
    <div class="card text-center" style="width: 70%;margin: auto;">
      <div class="card-header">
        <h5>Comida {{m.Meals.type}}</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title" style="color: black;">{{m.Meals.title}}</h5>
        <p class="card-text" style="text-align: center;" >{{m.Meals.description}}</p>
        <button class="btn btn-danger boton" *ngIf="sessionAdmin && !takeOrder" (click)="send(m)">Eliminar</button>
        <button class="btn btn-primary boton" *ngIf="takeOrder"(click)="send(m)">Agregar</button>
      </div>
    </div>
  </div>
</div>

