<div class="tarjeta_seccion">
  <div *ngIf="menus!=null else withoutMenus">
    <h4>Para esta fecha</h4>
    <h5>tenemos los siguientes platos</h5>
  </div>
  <ng-template #withoutMenus>
    <h4>Seleccione una fecha</h4>
    <h5>para ver el menu del dia</h5>
  </ng-template> 
  <br>
  <table class="table table-striped">
      <tbody>
        <tr *ngFor="let m of menus">
          <td>
            <li *ngFor="let meal of m.meal">
              <h5>Comida {{meal.type}}</h5>
              <h6>{{meal.tittle}}</h6>
              <h7>{{meal.description}}</h7>
              <p>Estado: {{m.state}}</p>
              <button class="btn btn-danger boton" *ngIf="sessionAdmin && !takeOrder" (click)="send(m)">Eliminar</button>
              <button class="btn btn-primary boton" *ngIf="takeOrder"(click)="send(m)">Agregar</button>
            </li>  
          </td>
        </tr>
      </tbody>
  </table>
</div>

