<nav class="nav_general">
    <button>
        <img style="width: 90px;" src="assets/icons/logo.png" alt="">
    </button>
    <button [routerLink]="['/menu']">
        <img src="assets/icons/casa.png" alt="">
        <h5>Home</h5>
    </button>
    <button><img src="assets/icons/menu.png" alt=""></button>
    <button><img src="assets/icons/comidas.png" alt=""></button>
    <button><img src="assets/icons/car.png" alt=""></button>
    <button [routerLink]="['/login']"  ><img src="assets/icons/login.png" alt=""></button>
</nav>
<div class="targ_route"><p>nombre ruta</p></div>
