<div class="navAuth">
    <div class="nav_general_lateral">
        <button [routerLink]="['/edit-menus']">
            <img src="assets/icons/menu-editar.png" alt="">
            <h5>Editar menu</h5>
        </button>   
        <button>
            <img src="assets/icons/editar-comidas.png" alt="">
            <h5>Editar comidas</h5>
        </button> 
        <button [routerLink]="['/orders']">
            <img src="assets/icons/pedidos.png" alt="">
            <h5>Pedidos</h5>
        </button>   
        <button [routerLink]="['/login']">
            <img src="assets/icons/clientes.png" alt="">
            <h5>Clientes</h5>
        </button>    
    </div>
</div>