@import '../../styles/general_styles.scss';
.base_info{
  .tarjeta_seccion{
    width: 94%; 
  }
    .titulo_seccion2{
      height: 150px;
    }
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 768px) { 
    .tarjeta_seccion{
      width: 350px; 
      height: 600px;
    }
  }