<div *ngIf="isLoadingResults" class="spinner-grow" role="status"></div>

<div class="titulo_seccion">
    <h3>Clientes</h3>
</div>
<div class="base_info">
  <div class="tarjeta_seccion" style="scroll-behavior: auto; overflow-x:auto; scroll-behavior: smooth;margin:auto">
    <table class="table table-striped">
      <thead>
        <tr>
           <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
            <th scope="col">Empresa</th>
            <th scope="col">Direccion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of customers">    
          <th scope="row">{{c.name}}</th>
          <td>{{c.lastName}}</td>
          <td>{{c.phone}}</td>
          <td>{{c.email}}<td>
          <td>{{c.companyName}}</td>
          <td>{{c.direction}}</td>
          
        </tr>
      </tbody>
    </table>


   
  </div>
</div>



