<div *ngIf="isLoadingResults" class="spinner-grow" role="status"></div>

<div class="titulo_seccion">
    <h3>Sus Clientes</h3>
</div>
<div class="base_info">
  <div class="titulo_seccion2">
    <h5 style="color: black;">Usuarios Registrados En App Gourmet</h5>
  </div>
  <div class="tarjeta_seccion">
    <table class="table table-striped" style="width: 100%;">
        <tbody>
          <tr *ngFor="let c of customers">
            <td>
              <li>
                 <h4>{{c.name}}</h4>
                 <h5>{{c.lastName}}</h5>
                 <h5>{{c.phone}}</h5>
                 <h5>{{c.email}}</h5>
                 <h5>{{c.phone}}</h5>
              </li>  
            </td>            
          </tr>
        </tbody>
    </table>
  </div>
</div>



