@import '../../styles/general_styles.scss';

.base_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 768px) { 
    .base_info{
        display: flex;
        flex-direction: column;
        justify-content: none;
        width: 100vw;
        app-list-meals{
            width: 100vw !important;
            margin: auto;
        }
        app-meals-form{
            width: 100vw !important;
            margin-bottom: 5%;
            margin: auto;
        }
    }

  }