@import '../../styles/general_styles.scss';

.base_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    app-list-meals{
        width: 55%;
        margin: auto;
        margin-top: 0% !important;
    }
    app-meals-form{
        width: 40%;
    }
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 768px) { 
    .base_info{
        display: flex;
        flex-direction: column;
        justify-content: none;
        app-list-meals{
            width: 90%;
            margin: auto;
        }
        app-meals-form{
            width: 90%;
            margin-bottom: 5%;
            margin: auto;
        }
    }

  }