<div class="titulo_seccion">
  <h3>Su carrito</h3>
  <h4>Ingrese su pedido</h4>
</div>
<div class="conteiner_pedido">
  <div class="titulo_seccion2">
    <h5>Los pedidos solo pueden realizarse con 24 hs de anticipacion. Todos nuestros productos son frescos y del dia.</h5>
  </div>
  <div class="info_pedido"><br>
    <div style="display: block;text-align: center;" *ngIf="_service.total==0">
      <img class="imagen-pedido"  src="assets/car.jpg">
    </div>
    <div class="list-card" class="list-card" *ngFor="let p of _service.getOrderInProgress(),let i = index" >
      <div class="info-derecha">
        <div class="info">
          <h5>Fecha de entrega</h5>
          <h5>{{p.menu.date.slice(0,10)}}</h5>
          <hr>
          <p>Tipo: {{p.menu.Meals.type}}</p>
          <p style="font-weight: 600;">{{p.menu.Meals.title}}</p>
          <p>{{p.menu.Meals.description}}</p>
          <h6 style="font-weight: 600; text-align: left;">CANTIDAD: {{p.count}}</h6>
          <br>
          <div class="list-card-botones" >
            <button class="boton-eliminar" (click)="removeItemShoppingCart(i)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
            <button class="boton-eliminar" (click)="sumarCantidad(i)">
              <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
            </button>
            <button class="boton-eliminar" (click)="disertCount(i)">
              <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
            </button>
          </div>   
        </div>
      </div>
    </div> 
    <h5 style="text-align: center;margin: 2%;" *ngIf=" _service.getOrderInProgress().length>0; else sinPedido" >PIEZAS</h5>
    <ng-template #sinPedido>
      <h5 style="text-align: center;margin: 2%;">Su carrito esta vacio!</h5>
    </ng-template>
    <button style="float:right; margin: 2%;" class="btn btn-primary boton" *ngIf=" _service.getOrderInProgress().length>0" 
    [routerLink]="['/confirmar-orden']">CONTINUAR</button><br>
  </div>
</div>