<nav class="nav_general">
    <button>
        <img src="assets/icons/casa.png" alt="">
        <h5>Home</h5>
    </button>
    <button [routerLink]="['/menu']">
        <img src="assets/icons/men.png" alt="">
        <h5>Mira el Menu</h5>
    </button>
    <button>
        <img  src="assets/icons/comidas.png" alt="">
        <h5>La cocina</h5>
    </button>
    <button>
        <sub style="color: rgb(255, 251, 251); 
                font-weight: 600; background-color: crimson;
                padding: 3px;
                border-radius: 3px;
                margin: 3px;">{{total}}</sub>
        <img src="assets/icons/car.png" alt="">
        <h5>Carrito </h5>
    </button>
    <button [routerLink]="['/login']">
        <img src="assets/icons/login.png" alt="">
        <h5>Login</h5>
    </button>
    <button>
        <img class="logo" src="assets/icons/logo.png" alt="">
    </button>
</nav>
<div class="targ_route"><p>nombre ruta</p></div>

