<div class="titulo_seccion">
    <h3>Editar menu</h3>
    <P style="color: crimson; font-weight: 600;">En esta seccion podra desactivar menus y agregar nuevos.</P>
</div>
<div *ngIf="editContent">
    <table class="table table-striped">
        <tbody>
          <tr>
            <td>
              <li *ngFor="let meal of menu.meal">
                <h5>Comida {{meal.type}}</h5>
                <h6>{{meal.tittle}}</h6>
                <h7>{{meal.description}}</h7>
                <p>Estado: {{menu.state}}</p>
                <button style="float: right;" type="button"  (click)="desactivarMenu(menu)" class="btn btn-danger">Eliminar</button>
            </li>  
            </td>
          </tr>
        </tbody>
      </table>
</div>
<div class="date-menu">
    <app-date (dateSelected)="setDate($event)"></app-date>
    <app-menuList [date]="date" (menu)="onClickMenu($event)"></app-menuList>
</div>
