@charset "UTF-8";
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");
p {
  text-align: left;
}

h3 {
  font-size: 1.8rem;
  text-align: left;
}

h4 {
  font-size: 1.5rem;
  color: gray;
  text-align: left;
}

h5 {
  font-size: 1.2rem;
}

.btn {
  border-radius: 15px;
}

.padding {
  padding: 1%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.base_info {
  width: 60vw;
}

.tarjeta_seccion {
  background-color: white;
  border-radius: 5px;
  padding: 3%;
  width: 95% !important;
  margin: auto;
}

.tarjeta_seccion h4 {
  text-align: center;
  color: black;
}

.tarjeta_seccion h5 {
  text-align: center;
  color: gray;
}

.titulo_seccion {
  background-color: white;
  padding: 2% 2% 1% 2%;
  border-radius: 5px;
  margin: 0% 2% 3% 0%;
}

.titulo_seccion h3 {
  color: black;
  font-weight: 600;
}

.titulo_seccion2 {
  background-color: white;
  padding: 2% 2% 1% 2%;
  border-radius: 5px;
  margin: 0% 2% 0% 0%;
  width: 25%;
  height: 250px;
}

.titulo_seccion2 h5 {
  font-weight: 600;
  text-align: center;
}

.nav_general_lateral {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px;
  position: fixed;
  bottom: 0px;
}

.nav_general_lateral button {
  background-color: white;
  border: none;
  width: 100%;
  padding: 5px;
  cursor: pointer;
}

.nav_general_lateral button img {
  width: 30px;
  margin-left: 10px;
}

.nav_general_lateral button h5 {
  margin: auto;
  color: #1a1919;
}

.nav_general_lateral button:focus h5 {
  text-decoration: underline;
}

.date-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
}

.date-menu app-menuList {
  width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  p {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  .nav_general_lateral {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0.5% 0% 0.5% 0%;
    padding: 0.5% 5% 0.5% 5%;
    bottom: 0%;
  }
  .nav_general_lateral button img {
    width: 30px;
  }
  .nav_general_lateral button h5 {
    display: none;
  }
  .titulo_seccion {
    width: 100%;
    height: auto !important;
  }
  .titulo_seccion2 {
    display: none;
  }
  .date-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .date-menu app-menuList {
    width: 100%;
  }
}

.contenedor_login {
  background-color: white;
  width: 60%;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2%;
  border-radius: 10px;
}

.contenedor_login .card {
  border: 0px;
}

.contenedor_login .card .card-text {
  width: 40%;
  margin: auto;
}

.contenedor_login .card .card-text h2 {
  text-align: center;
}

.contenedor_login .card .card-text .user_imagen {
  text-align: center;
  margin-bottom: 10%;
}

.contenedor_login .card .card-text .user_imagen img {
  width: 60%;
}

.contenedor_login .card .card-text form .form-label {
  margin-top: 18px !important;
}

.contenedor_login .card .card-text form .getIn {
  margin: 4%;
  background-color: #047786;
}

.contenedor_login .card .card-text .getOut {
  margin: 4%;
  background-color: gainsboro;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .contenedor_login {
    background-color: white;
    width: 100%;
    margin: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 2%;
    border-radius: 10px;
    margin-top: 4%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Aquí van los estilos */
}
/*# sourceMappingURL=new-user.component.css.map */