<div class="image_meals">
    <img src="assets/imagenes-meals/1.jpg" alt="">
     <img src="assets/imagenes-meals/2.jpg" alt="">
      <img src="assets/imagenes-meals/3.jpg" alt="">
      <img src="assets/imagenes-meals/4.jpg" alt="">
     <img src="assets/imagenes-meals/5.jpg" alt="">
    <img src="assets/imagenes-meals/6.jpg" alt="">
</div><br>
  <div class="tarjeta_seccion" *ngFor="let m of meals" >
    <div class="base_meals">
      <div class="card-header">
        <h6>{{m.type}}</h6>
      </div>
      <div class="card-body card-header">
        <h6 style="color: red;">{{m.title}}</h6>
        <h6>{{m.description}}</h6>
        <div style="margin-bottom: 3%;" *ngIf="session" scope="row">
          <div *ngIf="action=='edit'">
            <a (click)="send(m)"><i class="bi bi-pencil-fill"></i></a>
            <a (click)="deleteMeal(m.id)"><i class="bi bi-trash-fill"></i></a>
          </div>
          <a class="btn btn-primary " (click)="send(m)" *ngIf="action=='new'">Agregar comida al menu</a>
        </div>
      </div>
    </div>
</div>