
<div *ngIf="isLoadingResults" class="spinner-grow" role="status"></div>
<div class=" form-group mb-3"  *ngIf="session" >
  <input type="text" name="search"  placeholder="Buscar por tipo de comida"  (change)="search($event.target.value)" 
  class="form-control"  [(ngModel)]="filterString"><br>
  <button class="btn btn-light" (click)="search(null)">Limpiar</button>
</div>
<div class="scroll" id="scroll" >
  <div class="tarjeta_seccion" *ngFor="let m of meals" >
    <div class="base_meals">
      <div class="card-header">
        <h6>{{m.type}}</h6>
      </div>
      <div class="card-body card-header">
        <h6 style="color: red;">{{m.title}}</h6>
        <h6>{{m.description}}</h6>
        <div class="btnsEditMeals" style="margin-bottom: 3%;" *ngIf="session" scope="row">
          <div *ngIf="action=='edit'">
            <a (click)="send(m)"><i class="bi bi-pencil-fill"></i></a>
            <a (click)="deleteMeal(m.id)"><i class="bi bi-trash-fill"></i></a>
          </div>
          <a class="btn btn-primary " (click)="send(m)" *ngIf="action=='new'">Agregar comida al menu</a>
        </div>
      </div>
    </div>
</div>
</div>
<button class="boton-eliminar subir fa fa-long-arrow-up"  (click)="subir()" ></button>
