@import '../../styles/general_styles.scss';
.tarjeta_seccion{
    .base_meals{
        width: 80%;
        margin: auto;
    }
}
.image_meals{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    width: 95%;
    margin: auto;
    img{
        width: 15%;
        margin-right: 2%;
        border-radius: 5px;
    }
}
.card-body{
    .bi{
        margin-right: 10px;
        font-size: 20px;
    }
}