<div class="image_meals">
    <img src="assets/imagenes-meals/1.jpg" alt="">
     <img src="assets/imagenes-meals/2.jpg" alt="">
      <img src="assets/imagenes-meals/3.jpg" alt="">
      <img src="assets/imagenes-meals/4.jpg" alt="">
     <img src="assets/imagenes-meals/5.jpg" alt="">
    <img src="assets/imagenes-meals/6.jpg" alt="">
</div><br>
<div class="tarjeta_seccion">
    <table class="table table-striped">
        <tbody>
          <tr *ngFor="let m of meals">
            <td>
              <li>
                 <h5>Comida {{m.type}}</h5>
                 <h6>{{m.tittle}}</h6>
                 <h6>{{m.description}}</h6>
                 <p>Estado: {{m.state}}</p>
                 <div style="margin-bottom: 3%;" *ngIf="session" scope="row">
                  <div *ngIf="action=='edit'">
                    <a (click)="send(m)"><i class="bi bi-pencil-fill"></i></a>
                    <a (click)="delete(m)"><i class="bi bi-trash-fill"></i></a>
                  </div>
                  <a class="btn btn-outline-primary" (click)="send(m)" *ngIf="action=='new'">Agregar comida al menu</a>
                 </div>
              </li>  
            </td>            
          </tr>
        </tbody>
    </table>
</div>
