@import '../../styles/general_styles.scss';
.tarjeta_seccion{
    .base_meals{
        width: 100%;
        margin: auto;
    }
}
.card-body{
    .bi{
        margin-right: 10px;
        font-size: 20px;
    }
    .btnsEditMeals{
        cursor: pointer;
    }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) { 
    .tarjeta_seccion{
        width: 100%;
        .base_meals{
            width: 100%;
            margin: auto;
        }
    }
}