<app-nav></app-nav>
<div class="root padding">
    <router-outlet></router-outlet>
    <div class="tarjeta_seccion_root">
        <div class="img_right_root"></div>
        <div style="text-align: center; margin-top: 20px;">
            <h4 style="text-align: center;">ESTILO GOURMET</h4>
            <h6>ALLENDE 456</h6>
            <h6>DEVOTO</h6>
            <h6>BS AS, ARGENTINA</h6>
        </div>
    </div>
</div>
<div class="espacio_bottom"></div>
<app-navAuth *ngIf="sessionAdmin"></app-navAuth>
<app-nav-client *ngIf="sessionUser">okokokokooko</app-nav-client>
