@import './styles/general_styles.scss';
.logo{
    background-color: white;
    width: 100%;
    text-align:center;
    .logoImg{
        width: 16%;
        margin:0px auto
    }

}
.root{   
    box-sizing: border-box;
    width: 80vw !important;
    margin: auto !important;
    // margin: 5% 0% 5% 0%;
    justify-content: center;
    box-sizing: border-box;
    .image_meals{
        display: flex;
        flex-direction: row;
        margin-bottom: 1%;
        width: 100%;
        justify-content: space-between;
        img{
            box-sizing: border-box;
            width: 9%;
            border-radius: 5px;           
        }
        img.img2{
            display: block !important;
        }
    }
}
.espacio_bottom{
    display: block;
    height: 120px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 768px) { 
    .logo{

        .logoImg{
            width: 30%;
        }

    }
    .root{   
        width:100%  !important;
        float: none;
        flex-direction: column;
        .image_meals{
            img{
                width: 18%;
                
            }
            img.img2{
                display: none !important;
            }
            
        }
    }

    .espacio_bottom{
        display: block;
        height: 50px;
    }
}

// Para iPad
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  { /* Aquí van los estilos */
    .espacio_bottom{
        display: block;
        height: 30px;
    }
}

