@import './styles/general_styles.scss';
.image_meals{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    width: 79%;
    margin: auto;
    justify-content: center;
    padding-left: 5%;
    img{
        width: 13%;
        margin-right: 2%;
        border-radius: 5px;
    }
}
.root{
    width:75% ;
    margin: auto;
    display: flex;
    flex-direction: row;
    .tarjeta_seccion_root{
        margin: auto;
        margin-top: 0px;
        background-color: white;
        border-radius: 5px;
        padding: 3%;
        width: 25%;
        height: 335px;
        .img_right_root{
            height: 120px;
            width: 120px;
            background-color: #84eee5;
            border-radius: 100%;
            margin: auto;
        }
    }
}
.espacio_bottom{
    display: block;
    height: 120px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) { 
    .image_meals{
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
        width: 100%;
        margin: auto;
        img{
            width: 15%;
            margin-right: 2%;
            border-radius: 5px;
        }
    }
    .root{
        width:100%  !important;
        float: none;
        flex-direction: column;

        .tarjeta_seccion_root{
            display: none;
        }
    }
    .espacio_bottom{
        display: block;
        height: 120px;
    }
}

// Para iPad
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  { /* Aquí van los estilos */}

