<div class="logo">
    <img class="logoImg" src="assets/logo.jpg" alt="">
</div>
<app-nav></app-nav>
<div class="root" style="width: 100vw; ">
    <div class="image_meals">
        <img src="assets/imagenes-meals/1.jpg" alt="">
         <img src="assets/imagenes-meals/2.jpg" alt="">
          <img src="assets/imagenes-meals/3.jpg" alt="">
          <img  src="assets/imagenes-meals/4.jpg" alt="">
         <img src="assets/imagenes-meals/5.jpg" alt="">
        <img class="img2" src="assets/imagenes-meals/6.jpg" alt="">
        <img class="img2" src="assets/imagenes-meals/7.jpg" alt="">
    </div>
    <router-outlet ></router-outlet>
</div>
<div class="espacio_bottom"></div>
<app-navAuth *ngIf="sessionAdmin"></app-navAuth>
<app-nav-client *ngIf="sessionUser"></app-nav-client>
