<ngx-spinner type="ball-scale-multiple">.</ngx-spinner>

<div class="tarjeta_seccion">
  <div *ngIf="orders!=null else withoutOrders">
    <h4>Cantidad de Pedidos <span style="font-size: 19px; font-weight: 600; margin-left: 15%;"> {{orders.length}}</span></h4>
  </div>
  <ng-template #withoutOrders>
    <h4>Seleccione una fecha</h4>
    <h5>para ver el pedido del dia</h5>
    <center>
      <img style="width: 50%;margin-top: auto;" src="assets/fondo5.jpg" alt="">
    </center>
  </ng-template> 
  <br>
  <div *ngIf="date">
    <div *ngFor="let or of orders" class="card text-center" style="width: 80%;margin: auto;">
      <div class="card-header">
        <p>Estado</p>
        <h6 style="color: brown; font-weight: 600;">{{or.state.toUpperCase()}}</h6>
      </div>
      <div class="card-body">
        <h5 class="card-title" style="color: black;"> Tipo: {{or.MenusDto.Meals.type}}</h5>
          <h5 class="card-title" style="color: black;">{{or.MenusDto.Meals.title}}</h5>
          <p class="card-title" style="color: black;text-align: center;">{{or.MenusDto.Meals.description}}</p>
          <p class="card-text" style="text-align: center;" >cantidad del menu</p>
          <h5 class="card-title" style="color: black;">{{or.amount}}</h5><br>
          <div *ngIf="or.state=='pending'">
            <label for="amount" class="form-label">Ingrese nueva cantidad</label>
            <input style="text-align: center;" type="number" [(ngModel)]="or.amount " [value]="or.amount" name="amount" class="form-control" id="amount"  min="1" max="100" >
            <br>
            <div style="text-align: center;margin-top: 20px;">
              <button (click)="editAmount(or.id, or)" class="btn btn-success">Editar Cantidad</button><br><br>
            </div>
          </div>   
          <hr>
          <h5 class="card-title" style="color: black;">Cliente: {{or.userDto.name}}</h5>
          <h5 class="card-title" style="color: black;">Apellido: {{or.userDto.lastName}}</h5>
          <h5 class="card-title" style="color: black;">Telefono: {{or.userDto.phone}}</h5>
          <h5 class="card-title" style="color: black;">Telefono: {{or.userDto.direction}}</h5>

          <h5 class="card-title" style="color: black;">Direccion Envio: {{or.deliveryAddress}}</h5>
          <div *ngIf="or.state!='cancel'" style="margin-bottom: 3%;" scope="row" >
            <select  [(ngModel)]="stateSelected" >
                <option *ngFor="let s of states.statesEntregas">
                  {{s}}
                </option>
            </select><br><br>
            <button class="btn btn-primary" (click)="editState(or.id)"><i class="bi bi-pencil-fill"></i> Editar Estado</button>
          </div>
      </div>
    </div>
  </div>
</div>
