@import '../../styles/general_styles.scss';

div .table{
  li{
      list-style: none;
      p{
        margin-bottom: 5px;
      }
      h6{
        font-size: 1.1rem;
      }
        span{
          color: rgb(78, 78, 78);
        }
  }
}
