<div *ngIf="isLoadingResults" class="spinner-grow" role="status"></div>
<div class="tarjeta_seccion">
  <div *ngIf="orders.length>0; else withoutMenus">
    <h5>Para esta fecha tenemos los siguientes pedidos</h5>
  </div>
  <ng-template #withoutMenus>
    <h5>Por el momento no tiene pedidos</h5>
    <h4>Seleccione otra fecha</h4>
    <center>
      <img style="width: 50%;margin-top: 5%;" src="assets/fondo2.jpg" alt="">
    </center>
  </ng-template> 
  <br>
  <div class="card" *ngFor="let or of orders" style="margin-bottom: 2%;" >
    <div class="card-header">
      <p style="text-align: center;">{{or.state.toUpperCase()}}</p>    
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngIf="or.observation!=null">
        <p>Observacion</p>
        <p style="color: brown;">{{or.observation}}</p>
      </li>
      <li class="list-group-item">
        <p>Tipo</p>
        <p>{{or.MenusDto.Meals.type}}</p>
      </li>
      <li class="list-group-item">
        <p>Titulo</p>
        <p>{{or.MenusDto.Meals.title}}</p>
      </li>
      <li class="list-group-item">
        <p>Cant</p>
        <p>{{or.amount}}</p>
      </li>
      <li class="list-group-item" *ngIf="isAdmin">
        <p>Cliente</p>
        <p>{{or.userDto.name}}{{or.userDto.lastName}}</p>
      </li>
      <li class="list-group-item" *ngIf="isAdmin">
        <p>Tel.</p>
        <p>{{or.userDto.phone}}</p>
      </li>
      <li class="list-group-item">
        <p>Entrega</p>
        <p>{{or.deliveryAddress}}</p>
      </li>
      <li class="list-group-item" *ngIf="isAdmin">
        <p>Empresa</p>
        <p>{{or.userDto.companyName}}</p>
      </li>
      <li class="list-group-item" *ngIf="isAdmin && or.state=='pending'">
        <button class="btn btn-primary" (click)="editState(or.id, or.state)">
          Finalizar
        </button>
        <button class="btn btn-primary" *ngIf="!isAdmin && or.state=='pending'" 
        (click)="delete(or.id) ">
          Cancelar
        </button>
      </li>
    </ul>
  </div>
  <br><br>
  
</div>
