@import '../../styles/general_styles.scss';
.spinner-grow{
  margin: auto;
}
li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 700px) { 

    div .tarjeta_seccion{
      width: 100vw;
    }
  }