@import '../../styles/general_styles.scss';
li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 700px) { 
    .tarjeta_seccion{
      width: 100vw;

    }
  }