@import '../../styles/general_styles.scss';

.base-menu{
  .tarjeta_seccion{
    margin: 0% 2% 0% 2%;
    .target_meals{
      .meals_tar{
        display: flex;
        flex-direction: row !important;
        width: 100%;
      }
    }
  }

}
