@import '../../styles/general_styles.scss';
.row{
  display: flex;
  flex-direction: row;
}
.base_info{
  .btn{
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .card{
    width: 98%;
  }
  .btn_delete_cancel{
    display: flex; flex-direction: row; margin: auto; margin-bottom: 2%;
  }
  .date-menu{
    .new_menu{
      width: 95%;
      .tarjeta_seccion{
        margin-bottom: 3%;
        h5{
          margin-bottom: 3%;
          text-align: center;
        }
      }
      .tarjeta_seccion{
        text-align: center;
        margin-bottom: 3%;
        background-color: white;
        button{
          margin: 2%;
        }
      }
    }
  }
}

  
