*{
    font-size: 15px;
}
body{
    background-color: #eff0f1;
    h3{
        font-size: 1.8rem;
    }
    h4{
        font-size: 1.5rem;
        color: gray;
    }
    h5{
        font-size: 1.2rem;
    }

}

