
*{
    font-size: 15px;
}
body{
    background-color: #eff0f1;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.spinner-grow{   
    width:200px;
    height: 200px;
    z-index: 9;
    position: fixed;
    top: 30%;
    right: 45%;
}