@import '../../../styles/general_styles.scss';

center img{
    margin: auto;
}
div.base_form{
    background-color: white;
    border-radius: 20px;
    padding: 3%;
    .btn{
        border-radius: 20px;
    }
}
.row {
    div{
        width: 50% !important;
    }
    display: flex;
    flex-direction: row !important;
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 768px) { 
    .row{
        display: flex;
        flex-direction: column;
        div{
            width: 90% !important;
        }
    }
    center{
        display: none;
    }
    div.base_form{
        width: 100%;
        background-color: white;
        border-radius: 20px;
        padding: 3%;
        position: absolute;
        top: 30%;
        .btn{
            border-radius: 20px;
        }
    }

  }
