@import '../../../styles/general_styles.scss';

.btn-primary{
    margin-bottom:5%
}
.base_form{
    background-color: white;
    border-radius: 20px;
    padding: 3%;
    .btn{
        border-radius: 20px;
    }
}