<div *ngIf="isLoadingResults" class="spinner-grow" role="status"></div>
<div class="titulo_seccion">
  <h3>Panel usuario</h3>
</div>
  <div class="contenedor_login ">
      <div class="card">
        <div class="card-text">
            <h2 style="margin-top: 20px; margin-bottom: 15px;">{{name}}</h2>
            <div class="user_imagen">
              <img src="assets/icons/user.png" alt="">
            </div>
            <form [formGroup]="formLogin" (ngSubmit)="login()" *ngIf="!sessionUser">
              <label for="email" class="form-label">Email</label>
              <input type="text" formControlName="email" class="form-control"  id="email" 
              [ngClass]="{ 'is-invalid':f.email.touched && f.email.errors }">
              <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback"  >
                <div *ngIf="f.email.errors.required">El email es Requerido</div>
                <div *ngIf="f.email.errors.maxlength">Solo puede ingresar 20 caracteres</div>
                <div *ngIf="f.email.errors.email">Email Invalido</div>
              </div><br>
              <label for="password" class="form-label">Password</label>
              <input type="text" formControlName="password" class="form-control" id="password" [ngClass]="{ 'is-invalid':f.password.touched && f.password.errors }">
              <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback"  >
                <div *ngIf="f.password.errors.required">El password es Requerido</div>
                <div *ngIf="f.password.errors.maxlength">Solo puede ingresar 10 caracteres</div>
                <div *ngIf="f.password.errors.pattern">El password solo puede contener numeros</div>
              </div>
              <br>
              <div style="text-align: center;margin-top: 20px;">
                <button class="btn btn-success">Login</button><br><br>
                <a [routerLink]="['/new-user']">Registrarse</a>
              </div>
            </form>
            <div style="text-align: center;" *ngIf="sessionUser">
              <app-data-user></app-data-user>
              <hr>
              <button class="btn btn-danger" (click)="logOut()" >Salir</button>
            </div>
        </div>
      </div>
  </div>
